/*article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid #FF5A5F 1px;
	border-radius: 4px;
	display: flex;
}

section.places h1 {
	float: left;
	font-size: 30px;
	align-self: flex-end;
	align-items: left;
}

section.places {
	width: 400px;
	margin: auto;
	border: solid;
	display: flex;
}

*/